body{
    margin: 0;
}

#header{
    height: 100px;
    background-color: #9fb7ff;
}

#header img{
    width: 150px;
    margin: 30px 20px
}

main{
    margin: 30px 0px 0px 20px;
}

h1{
    margin-bottom: 0px;
}

.infos{
    color: #888888;
}

#writer a{
    text-decoration: none;
    color: #8585ff;
}

#images img{
    margin-top: 20px;
}

span{
    background-color: yellow;
}

ul{
    padding: 0;
}

#list{
    margin: 30px 15px;
}