body{
    margin: 0;
}

/* background pattern and logo */

header{
    height: 100px;
    background-color: #9fb7ff;
    background-image: url(../../img/pattern.png);
    background-size: contain;
}

header img{
    width: 150px;
}

#logo-container{
    margin: auto;
    width: 80%;
    padding: 30px;
}

/* centred page content */

main{
    margin: auto;
    width: 80%;
}

h1{
    margin-bottom: 0px;
}

.infos{
    color: #888888;
}

.infos a{
    text-decoration: none;
    color: #8585ff;
}

/* margin from title */

#images img{
    margin-top: 20px;
    width: auto;
    height: 250px;
}

/* highlighted text in paragraph */

span{
    background-color: yellow;
}

/* list style and alignment */

ul{
    padding: 0;
}

#list{
    margin: 30px 15px;
}

/* table style */

th{
    background-color: #a98efb;
}

.column{
    background-color: #a2a2f56a;
}

td span{
    background-color: #9797f983;
}

/* footer and copyright */

footer{
    background-color: #141461e7;
    height: 60px;
    margin-top: 30px;
}

footer div{
    color: white;
    text-align: center;
    padding: 20px;
}